body { 
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}

.page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 65px ;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;

}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;

}

a {
  color: #1F1534; 
  text-decoration: none;
}

ul li a {
  opacity: 0.5;

}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1F1534;
  font-weight: normal;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  margin: 40px 0;
}

button {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  background: #69B99D;
  border: none;
  padding: 14px 32px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #4cb18e;

}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

footer a {
  font-weight: bold;
}

 #balls {
  position: fixed;
  bottom: 0;
  right: 0;
 }


 /* Telas pequenas (mobile) */

 @media (max-width: 768px) {
  .page {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  nav ul {
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }

  main {
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
  }

  main h1 {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 30px;
  }

  section p {
    font-size: 16px;
    line-height: 28px;
    margin: 30px 0;
  }

  botton {
    padding: 16px 36px;
    font-size: 16px;
  }

  footer {
    font-size: 16px;
    margin-top: 60px;
  }

  #balls {
    width: 60px;
  }
 }


 /* Telas médias ( tablets) */
 @media (max-width: 1024px) {
  .page {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  main {
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px;
  }

  main h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }

  section p {
    font-size: 15px;
    margin: 30px 0;
  }

  button {
    padding: 16px 36px;
    font-size: 80pxs
  }

  #balls {
    width: 75px;
  }
 }